<header class="header">
	<div class="header-top">
		<div class="header-top__inner">
			<div class="header-top__left">
				<a href="#" class="header__logo">
					<img src="./resources/img/logo.png" alt="Opel">
				</a>
				<div class="social">
					<div class="social__title">Ищите нас в соц.сетях:</div>
					<div class="social__list">
						<a href="#" class="social__item">
							<svg width="16" height="16" class="">
								<use xlink:href="#instagram"></use>
							</svg>
						</a>
						<a href="#" class="social__item">
							<svg width="16" height="16" class="">
								<use xlink:href="#facebook"></use>
							</svg>
						</a>
						<a href="#" class="social__item">
							<svg width="16" height="16" class="">
								<use xlink:href="#youtube"></use>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="header-top__right">
				<a href="#" class="header-top__link">Вход</a>
				<a href="#" class="header-top__link">Регистрация</a>
			</div>
		</div>
	</div>
</header>
