@font-face {
  font-family: RussoOne;
  src: url("../resources/fonts/RussoOne-Regular.woff2") format("woff2"),
  url("../resources/fonts/RussoOne-Regular.ttf") format("ttf"),
  url("../resources/fonts/RussoOne-Regular.woff2") format("woff");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: Exo2;
  src: url("../resources/fonts/Exo2-Regular.woff2") format("woff2"),
  url("../resources/fonts/Exo2-Regular.ttf") format("ttf"),
  url("../resources/fonts/Exo2-Regular.woff2") format("woff");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: Exo2;
  src: url("../resources/fonts/Exo2-Bold.woff2") format("woff2"),
  url("../resources/fonts/Exo2-Bold.ttf") format("ttf"),
  url("../resources/fonts/Exo2-Bold.woff2") format("woff");
  font-display: swap;
  font-weight: 700;
}
