/*
------------------------------------------------------------------
 COLORS
------------------------------------------------------------------
*/

:root {
  --heading-color: #1E1E1E;
  --orange-color: #FF6B00;
  --btn-color: #1E1E1E;
  --white-color: #FFFFFF;
  --btn-hover-color: #383737;
  --btn-disabled-color: #C4C4C4;

  /*
  ------------------------------------------------------------------
   FONTS
  ------------------------------------------------------------------
  */
  --primary-font: "Exo2", Georgia, serif;
  --heading-font:  "RussoOne", sans-serif;

  /*
	------------------------------------------------------------------
	 CUSTOM MEDIA
	------------------------------------------------------------------
	*/

  @custom-media --large (max-width: 1639px);
  @custom-media --laptop (max-width: 1519px);
  @custom-media --tablet (max-width: 1279px);
  @custom-media --no-hover (max-width: 1025px);
  @custom-media --mobile (max-width: 899px);
  @custom-media --mobile-big (max-width: 899px);
  @custom-media --mobile-small (max-width: 539px);
  @custom-media --mobile-middle (max-width: 719px);

}
